<!-- -->
<launch>

    <node pkg="simple_move" type="world_tf_broadcaster" name="world_tf_broadcaster" output="screen">  </node>
    <node pkg="simple_move" type="simple_move_node" name="simple_move_node" output="screen">  </node>
    <node name="angle_pid" pkg="pid" type="controller" >
        <param name="Kp" value="0.01" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.001" />
        <param name="upper_limit" value="0.5" />
        <param name="lower_limit" value="-0.5" />
        <param name="windup_limit" value="0.7" />
        <param name="diagnostic_period" value="0.02" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
        <param name="angle_error" value="false" />
        <param name="topic_from_controller" value="/angle_control_effort" />
        <param name="topic_from_plant" value="/angle_state" />
        <param name="setpoint_topic" value="/angle_setpoint" />
    </node>

    <node name="dist_pid" pkg="pid" type="controller" >
        <param name="Kp" value="0.8" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.01" />
        <param name="upper_limit" value="0.5" />
        <param name="lower_limit" value="-0.5" />
        <param name="windup_limit" value="0.5" />
        <param name="diagnostic_period" value="0.1" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
        <param name="angle_error" value="false" />
        <param name="topic_from_controller" value="/dist_control_effort" />
        <param name="topic_from_plant" value="/dist_state" />
        <param name="setpoint_topic" value="/dist_setpoint" />
    </node>

</launch>
